body {
	background-color: #1E1E24; 
}
.navigation {
	list-style:none;
	margin:0;
	opacity: 0.8; 
	display:flex;
	flex-flow:row warp;
	justify-content:center;
}

.navigation a {
	text-decoration:none;
	font-size: 25px;
	display:block;
	padding:1em;
	color: #ff0035;
}

.navigation a:hover {
  background-color: #6C91C2;
  color: #1E1E24;
}

.quiz{
	height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-style: solid;
	border-color: #6c91c2;
}

.ss_highscore{
    width: 80vw;
    font-size: x-large;
    text-align: center;
	color: #ff0035;
}
.question_container{
	margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    font-size: x-large;
    text-align: center;
	color: #D1C6AD;     
}

.answer_container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
        
}

.answer{
	padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    border-radius: 25%;
}


.quiz_nav{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.restart,.proceed{
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}

.restart{ 
    color: #1e1e24;
    background-color: #FF0035;
}

.proceed{
    color: #d1c6ad;
    background-color: #33673b;
}

header {
	color: #33673B;
	opacity: 0.8; 
	font-weight: 900;
	font-size: 45px; 
	text-align: center;
}

h1 {
	color:#D1C6AD; 
	font-weight: 900;
	font-size: 35px;
	text-align: center
}

h4 {
	color:#D1C6AD; 
	font-weight: 900;
}

p {
	color:#D1C6AD;
	font-size: 20px; 
}

aside {
	color:#D1C6AD;
}

.site_footer {
	color: #6C91C2;
	width: 100%;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}